.bg-color{
	background-color: #f7f8f9;
}
.form-cadastro{
	height: 100vh;
}
.area-form{
	height: 70vh;
}
/*sidebar*/
#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 60px;
	height: 100%;
	overflow-y: hidden;
	background: #2c3e50;
	opacity: 0.9;
	transition: .5s;

}

/*main area*/
#page-content-wrapper{
	width: 100%;
	position: absolute;
	padding: 15px;
	padding-left: 50px;
	transition: .5s;
}

/*mudar o tamanho do sidebar*/
#wrapper.menuDisplayed #sidebar-wrapper{
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left: 250px;
}
#wrapper #sidebar-wrapper .sidebar-nav{
	display: none;
}
#wrapper.menuDisplayed #sidebar-wrapper .sidebar-nav{
	display: block;
}
#wrapper #sidebar-wrapper .sidebar-nav-active{
	display: block;
}
#wrapper.menuDisplayed #sidebar-wrapper .sidebar-nav-active, #wrapper.menuDisplayed #sidebar-wrapper .sidebar-nav-activee{
	display: none;
}

.sidebar-nav, .sidebar-nav-active{
	padding: 0;
	list-style: none;
	transition: .5s;
}
.sidebar-nav-activee{
	padding: 0;
	list-style: none;
	transition: .5s;
}
.sidebar-nav-activee li{
	text-indent: 18px;
	line-height: 45px;
	font-size: 20px;
	transition: .5s;

}
.sidebar-nav li, .sidebar-nav-active li{
	text-indent: 18px;
	line-height: 45px;
	font-size: 20px;
	transition: .5s;

}
.sidebar-nav li a, .sidebar-nav-active li a{
	display: block;
	text-decoration: none;
	color: #ddd;
	transition: .5s;

}
.sidebar-nav-activee li a{
	display: block;
	text-decoration: none;
	color: #ddd;
	transition: .5s;

}
.sidebar-nav li a:hover, .sidebar-nav-active li a:hover{
	background: #16a085;
}
.sidebar-nav-activee li a:hover{
	background: #ff4d4d;
}
.fixed-bottom{
	width: 60px;
}
.navbar-nav {
	flex-direction: row-reverse;
}
.sidebar-nav .container-fluid #icons div{
	border: 1px solid #fff;
}
.sidebar-nav .container-fluid #icons{
	margin: 30px 30px;
}
.sidebar-nav .container-fluid #icons div:hover{
	background: #16a085;
}