.bg-color{
	background-color: #f7f8f9;
}
.form-cadastro{
	height: 100vh;
}
.area-form{
	height: 70vh;
}
/*sidebar*/
#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 50px;
	height: 100%;
	overflow-y: hidden;
	background: #2c3e50;
	opacity: 0.9;
	transition: .5s;

}

/*main area*/
#page-content-wrapper{
	width: 100%;
	position: absolute;
	padding: 15px;
	padding-left: 50px;
	transition: .5s;
}

/*mudar o tamanho do sidebar*/
#wrapper.menuDisplayed #sidebar-wrapper{
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left: 250px;
}
#wrapper #sidebar-wrapper ul{
	display: none;
}
#wrapper.menuDisplayed #sidebar-wrapper ul{
	display: block;
}

.sidebar-nav{
	padding: 0;
	list-style: none;
}
.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
}
.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color: #ddd;
}
.sidebar-nav li a:hover{
	background: #16a085;
}